.timeline-container {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    background: #f4f4f4;
  }
  
  .timeline {
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
  }
  
  .year {
    background: #007bff;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    min-width: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #003c80;
  }
  
  .year:hover, .year.hover {
    background: #004499;
    transform: scale(1.1);
  }
  
  .event-preview {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 8px;
    max-width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 14px;
    color: #333;
  }
  
  .event-details-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    max-height: 250px;
    background: white;
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    color: #222;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    overflow-y: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #007bff;
  }
  
  .close-btn:hover {
    color: red;
  }
  

  

  .map-container {
    height: 610px;
    width: 600px;
  }
  div#circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    border:2px solid rgba(255, 255, 255, 0) ;
  }


  .mappa-e-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
  }
  
  .map-container {
    width: 610px;
    height: 600px;
    flex-shrink: 0; /* non farla ridurre */
    border: 1px solid #ccc;
  }
  
  .card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  