.map-container {
    height: 600px;
  }
  div#circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    border:2px solid rgba(255, 255, 255, 0) ;
  }